# Editor backup files:
*~
.*.swp

# Python compiled byte-code
*.pyc

# build directories
build*/

# OS/X File system droppings
*.DS_Store

# Sublime Test temp files
._*

# Visual Studio 2015 cache/options directory
.vs/

# Coverage file results
gcovr
